#main:before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  background: url('/uploads/default/original/1X/20cfd15cec23b083f34c74106233cb494ba6b64b.jpg') center no-repeat;
  background-size: cover;
}

#main-outlet {
  padding-top: 30px;
}
